/* styles.css */
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
}
body {
    background-color: #F7F7F7;
    color: #333;
  }
  /* common css */
  .orange {
    color: #FFA500;
  }
  
  .blue {
    color: #007BFF;
  }
.sky-blue{
    color: #62d4da;

}
.purple{
    color: #8D8AF2;
}
.white{
  color: white;
}
  /* navbar section */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 141px;
    background-color: #F7F7F7;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 40px;
    margin-right: 10px;
  }
  
  .logo-text {
    font-size: 20px;
    font-weight: bold;
  }


  .nav-links {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    font-size: 16px;
  }
  
  .nav-links a:hover {
    color: #052342;
  }
  
  .contact-btn {
    background-color: #FFA500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .contact-btn:hover {
    background-color: #e69500;
  }
  /* banner section */
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 141px;
    background-color: #F7F7F7;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero-content {
    max-width: 50%;
  }
  
  .hero-content h1 {
    font-size: 56px;
    line-height: 1.2;
    margin: 0;
  }
  

  
  .hero-content p {
    font-size: 20px;
    line-height: 1.6;
    margin: 20px 0;
    color: #555;
  }
  
  .enroll-btn {
    display: inline-block;
    background-color: #0f0f0f;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  .enroll-btn:hover {
    background-color: #555;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 0 auto;
  }

  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color: #333;
  }
  /* Standard curriculam section */
  .main{
    background-image: url(../assets/bg.png);
  }
  .curriculum-section {
    text-align: center;
}
.curriculum-section h2 {
    font-size: 48px;
    margin-bottom: 30px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.curriculum-cards {
    display: flex;
    justify-content: center;
    gap: 28px;
}
.curriculum-card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 60px 28px;
    width: 300px;
    text-align: center;
}
.curriculum-card img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}
.curriculum-card h3 {
  font-size: 24px;
    margin-bottom: 10px;
}
.curriculum-card p {
    color: #6c757d;
    margin-bottom: 20px;
    font-size: 16px;
}
.carousel-controls {
    margin-top: 20px;
}
.curriculum-card-1{
  background-image: linear-gradient(180deg, #E3F6FE, white);
}
.curriculum-card-2{
  background-image: linear-gradient(180deg, #FFF7E6, white);
}
.curriculum-card-3{
  background-image: linear-gradient(180deg, #F1E7FE, white);
}
.carousel-controls button {
    background-color: #ff8c00;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 50px;
}
.carousel-controls button:hover{
  background-color: #ffae00;
}
/* .............................................................. */
/* our Stories section */
.our-story{
  text-align: center;
  font-size: 46px;
}
.blog-section{
  background:linear-gradient(360deg, #F9E0B4, #F7F7F7);
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
/* Blog Main Card */

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  overflow: hidden;
  margin-right: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-content .date {
  display: inline-block;
  font-size: 12px;
  background-color: #62d4da;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 15px;
  margin-bottom: 8px;
}

.card-content h3 {
  font-size: 20px;
  margin: 8px 0;
  color: #333;
}

.card-content p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}
.btn{
  padding: 10px 30px;
    font-size: 10px;
    margin-left: -320px;
    margin-top: 200px;
    border-radius: 20px;
    border: none;
    background: #3CD8E8;
    color: white;
}

/* Blog Grid */
.second-blog{
  background-image: url(../assets/story-2.png);
}
.third-blog{
  background-image: url(../assets/story-3.png);
  height: auto;

}
.fourth-blog{
  background-image: url(../assets/story-4.png);

}
.fifth-blog{
  background-image: url(../assets/story-5.png);

}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.blog-grid .blog-card {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.blog-grid .blog-image {
  height:220px;
  background-size: cover;
  background-position: center;
}

.blog-grid .blog-content {
  padding: 15px;
}
.blog-grid h3 {
  font-size: 16px;
  margin: 10px 0;
  color: #333333;
}
.btn2{
    padding: 10px 30px;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background: #95B226;
    color: white;
    position: absolute;
    top: 68%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.btn3{
  padding: 10px 30px;
  font-size: 10px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  background: #0b6c77;
  color: white;
  position: absolute;
  top: 68%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.btn4{
  padding: 10px 30px;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background: #09a6b8;
    color: white;
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.btn5{
  padding: 10px 30px;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background: #096441;
    color: white;
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
}

/* viwe all button */
.container1{
  display: flex;
  justify-content: center;
  background-color: #F9E1B6;
  padding-top: 20px;
  padding-bottom: 40px;
}
/* ........................................................ */
/* marquee section */
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #F8E1B7;
}
.marquee {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(-100%);
  }
}

.blog-main-card .blog-content {
  flex: 1;
  padding: 20px;
}
/* footer section */
.footer {
  padding: 40px 20px;
  background-color: #00b5f1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  padding: 80px 0;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.logo-section {
  max-width: 300px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.logo-icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.description {
  font-size: 14px;
  margin-top: 10px;
}
.links-section{
  padding-left: 100px;
}

.links-section ul li, .social-section ul li {
  margin: 10px 0;
}

.links-section ul li a, .social-section ul li a {
  color: #fff;
  font-size: 14px;
  transition: color 0.3s;
}


.social-links {
  display: flex;
  gap: 10px;
}

.social-links img {
  width: 30px;
  height: 30px;
}
/* Responsive c */
@media screen and (max-width:576px){
.contact-btn{
    display: none;
}
.hero {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .hamburger-menu {
    display: flex;
  }
  .curriculum-section, .curriculum-cards{
    flex-direction: column;
    justify-items: center;
   
  }
  .carousel-controls button{
    display: none;
  }
  .container{
    flex-direction: column;
  }
  .links-section{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0;
  }
  .card{
    display: none;
  }
  .btn2, .btn3, .btn4, .btn5{
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
}
}

